# Virtual Environments
venv/
env/
*.venv

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependency Metadata
*.egg-info/
dist/
build/

# System Files
.DS_Store  # macOS
Thumbs.db  # Windows

# Editor Settings
.vscode/